[submodule "isaac_ros-dev/src/isaac_ros_common"]
	path = isaac_ros-dev/src/isaac_ros_common
	url = https://github.com/stargaze221/isaac_ros_common
[submodule "isaac_ros-dev/src/isaac_ros_nvblox"]
    path = isaac_ros-dev/src/isaac_ros_nvblox
    url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox.git
[submodule "isaac_ros-dev/src/sllidar_ros2"]
    path = isaac_ros-dev/src/sllidar_ros2
    url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "isaac_ros-dev/src/ydlidar_ros2_driver"]
	path = isaac_ros-dev/src/ydlidar_ros2_driver
	url = https://github.com/stargaze221/ydlidar_ros2_driver.git
